<h1><%= I18n.t(:label_editing_payment) %></h1>
<p><%= I18n.t(:description_add_or_edit_payment) %></p>

<%= render 'form', payment: @payment %>

<%= link_to I18n.t(:button_show), @payment, class: 'btn btn-info' %> |
<%= link_to I18n.t(:button_back), payments_path, class: 'btn btn-warning' %>
